# Local history (VSCode extension)
.history/

# NodeJS
node_modules/
npm_cache/

# Docker compose
docker-compose.override.yml

# Cache for lints
.eslintcache
.stylelintcache
.cspellcache

# Keep .gitkeep files
!/**/.gitkeep

# Generated temporary files
*.tmp
