# Git
.git/

# Local history (VSCode extension)
.history/

# NodeJS
node_modules/
npm_cache/

# Cache for lints and formatters
.eslintcache
.stylelintcache
.cspellcache
.prettier-cache

# Text is generated automatically.
# Also, as the file grows, it will take longer to lint and format.
CHANGELOG.md
